body {
  margin: 0;
}

.navbar {
  display: flex;
  background-color: rebeccapurple;
}

.navbar__items {
  background-color: aquamarine;
}

.navbar__items__container {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar__item {
  padding: 12px 24px;
}

.navbar__logo {
  background-color: aqua;
}

.navbar__order {
  background-color: bisque;
}

.navbar__order__button {
  padding: 12px 24px;
  border: none;
  border-radius: 24px;
  background-color:rgba(133,133,133,.36);

}
